body{
    background-image: url("/images/menul.png");
    background-repeat: no-repeat;
    background-size: 1580px 400px;
    font-family: 'Merriweather', sans-serif;
    color: #001220;
    margin: 0;
    overflow-x: hidden;
}

.active{
    text-decoration: underline;
    color: #E07A5F;

}


ul{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav {
    width: 100%;
}

header{
    position: sticky;
    background-color: transparent;
    display: flex;
    top: 0%;
    width: 100%;
    height: 5em;
    z-index: 4;
    margin-bottom: 400px;
    transition: background-color 0.4s ease-in-out;
}

header nav li {
    font-weight: 400;
}

header nav li:hover {
    background-color: #ff4500;
    border-radius: 10px;
    color: #e6e5e3;
}

header nav .list-item-u:hover{
    border-color: #ff4500;
    background-color: #ff4500;
}

header.scrolled{
    background-color: #001220;
    opacity: 1;
}

header.scrolled nav li{
    color: #ff4500;
    font-size: 16px;
    font-weight: 300;
} 

header.scrolled nav li:hover{
    color: #e6e5e3;
    background-color: #ff4500;
    font-size: 16px;
    font-weight: 300;
} 

header.scrolled nav .list-item-u{
    color: #ff4500;
    border:solid 1px #ff4500;
} 

.younes{
    width: 100%;
    height: 200%;
    opacity: 0.3;
    z-index: -1;
    position: absolute;
    top: 400px;
    left: 0;
}

li{
    float: right;
    text-align: right;
    color: #ff4500;
    gap: 20px;
    justify-content: space-between;
    padding: 10px;
    padding-left:10px;
    padding-right:10px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

.logo{
    width : 10%;
    height: 100px;
    margin-top: 0;
    padding-top: 0;
    margin-left: 20px;
    filter: drop-shadow(8px 8px 10px #454545)
}


.list-item::after{
    position: absolute;
    content: "";
    inset: 0;
    background-color: #ff4500;
    scale: 1 0;
    z-index: 1;
    transition: 0.45s;
    border-radius: 10px;
}

.list-item-u{

    background-color: transparent;
    color: #ff4500;
    border:solid 1px #ff4500;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

.list-item-u:hover{
    background-color: #ff4500;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
}



.btn{
    font-size: 16px;
    padding-top: 0;
    background: none;
    border-radius: 10%;
    border: none;
    float: right;
    margin-top: 15px;
    margin-right: 40px;
    color: #ff4500;
    padding: 10px;
}


.btn:hover{
    font-size: 16px;
    padding-top: 0;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-radius: 0;
    
}

.main{
    display: inline;
    margin-bottom: 200px;
    
}

.iteme{
    text-align: center;
}



.sevillana-regular {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
  }


.titrei{
    font-family: "Sevillana", cursive;
    z-index: 2;
}

.titreir{
    font-family: "Sevillana", cursive;
    font-size: 32px;
    font-weight: 900;
    text-decoration: underline;
    margin-left: 150px;
    margin-bottom: 40px;
    z-index: 2;
}

.titreil{
    font-family: "Sevillana", cursive;
    font-size: 32px;
    font-weight: 900;
    text-decoration: underline;
    margin-left: 290px;
    z-index: 2;
}

.left1{
    width: 20%; 
    margin-top: 70px;
    margin-bottom: 100px;
    height: auto;
    float: left;
 }

.right1{
    width:30%; 
    height: auto;
    margin-top: 70px;
    margin-right: 100px;
    margin-bottom: 100px;
    float: right;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
}

.selected {
    color: #ff4500;
}

.center{
    margin-left: 600px;
    width: 20%; 
    margin-top: 70px;
    margin-bottom: 100px;
    height: auto;
    float: left;
}

.ima{
    border-radius: 10px;
    width: 450px;
    height: 300px;
    margin-left: 25px;
}



.click:hover{
    text-decoration: underline;
    text-decoration-color: #ba0b20;
}



h1{
    color: #333333;
    font-size: 25px;
    cursor:context-menu;
}

h2{
    font-size: 20px;
    cursor:context-menu;
}

h3{
    font-size: 16px;
    line-height: 1.6;
    cursor:context-menu;
}


.buttons{
    width: 100%;
    margin-bottom: 20px;
    margin-left: 350px;
    position: relative;
}



.category-btn{
    padding: 10px;
    font-size: 22px;
    font-family: 'merriweather',sans-serif;
    margin-left: 20px;
    border: none;
    background-color: transparent;
    text-decoration: underline dashed;
    cursor: pointer;
}

.category-btn:hover{
    color: #ff4500;
}

.category-btn::se{
    color: #ff4500;
}

.ingre{
    
    flex-direction: column;
    margin-left: 10px;
    height: 100px;
}

.prix{
    color: #B71C1C;
}

.vl{
    display: flex;
    width: 10px;
    border-left: 3px solid #001220;
    height: 1600px;
    position: absolute;
    left: 50%;
    top: 600px;
    margin-left: 3px;
}

.vl1{
    display: flex;
    width: 10px;
    border-left: 3px solid #001220;
    height: 1000px;
    position: absolute;
    left: 50%;
    top: 600px;
    margin-left: 3px;
}

.vl2{
    display: flex;
    width: 10px;
    border-left: 3px solid #001220;
    height: 1050px;
    position: absolute;
    left: 50%;
    top: 600px;
    margin-left: 3px;
}

.vl3{
    display: flex;
    width: 10px;
    border-left: 3px solid #001220;
    height: 750px;
    position: absolute;
    left: 50%;
    top: 600px;
    margin-left: 3px;
    z-index: 2;
}

.loc{
    display: flex;
    width: 100%;

}

.h4s{
    margin-left: 80px;
    margin-right: 80px;
    color: #333333;
}

.h1s{
    text-decoration: underline;
    color: #333333;
}

.ic{
    color: #333333;
    display: inline;
    justify-content: space-between;
}

.ic i{
    margin-left: 20px;
}

